@{
    ViewData["Title"] = "Lỗi";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="iq-error position-relative mt-5">
                        <img src="~/images/error/404.png" class="img-fluid iq-error-img" alt="404 Error">
                        <h2 class="mb-0 mt-4">Oops! Đã xảy ra lỗi.</h2>
                        <p class="text-muted">Có lỗi xảy ra trong quá trình xử lý yêu cầu của bạn.</p>
                        <a class="btn btn-primary mt-3" href="/">
                            <i class="ri-home-4-line"></i> Về Trang Chủ
                        </a>
                        <a class="btn btn-secondary mt-3" href="javascript:history.back()">
                            <i class="ri-arrow-left-line"></i> Quay Lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

