.status-btn {
  color: white;
  padding: 4px 0;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}

.action-btn {
  border-radius: 10px;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
}

.action-btn--primary {
  background: var(--background-button-color);
  color: #fff;
}

.action-btn--outline {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: #fff;
}

.action-btn--disabled {
  background: #919191;
  color: #fff;
  pointer-events: none;
}

.action-btn--half {
  width: 48%;
}

.action-btn-row {
  display: flex;
  justify-content: space-between;
}

/* event-item */

.btn-green {
  background: #558b2f;
}

.btn-blue {
  background: #0069f3;
}

.btn-gray {
  background: var(--five-background-color);
}

.btn-red {
  background: #9c010b;
}

.common-status-button {
  border: none;
  font-size: 15px;
  height: 40px;
}

.item-content-event {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: var(--five-background-color);
  font-size: 14px;
}

.gradient-animate {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1),
    rgba(87, 199, 133, 1),
    rgba(42, 123, 155, 1)
  );
  background-size: 300% 100%;
  animation: animation 6s linear infinite;
}

@keyframes animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}
