.colorInfo {
  background-color: #00b200;
  padding: 2px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
.zaui-input-affix-wrapper
  .zaui-input-affix-wrapper-readonly
  .zaui-picker-input
  .zaui-date-picker {
  width: 240px;
  height: 30px;
}
.zaui-tabs-tabbar1 {
  display: flex;
  justify-content: space-between;
}
.popUpRef {
  width: 100% !important;
  position: fixed !important;
  bottom: 0 !important;
  z-index: 2000;
  background-color: #3a3a3a;
  color: #fff;
  font-weight: 600;
}

/* Đặt kích thước chung cho tất cả các ô input, select và textarea */
.input-field {
  width: 100%;
  height: 48px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến kích thước */
}

.textarea-field {
  width: 100%;
  height: auto; /* Textarea có thể mở rộng theo nội dung */
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}

.affilate_btn {
  background: #fff;
  border-radius: 8px;
  padding: 2px 0;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
